<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="https://i.pinimg.com/originals/50/87/2a/50872a2e317f328df780a7f043ce0c7e.png" style="width: 125px;">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">25</div>
            <div class="text-uppercase text-muted small">Chickens</div>
          </div>
          <div>
            <div class="text-value">750</div>
            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="http://www.lequzhai.com/data/out/4/468894.png" style="width: 195px;">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">10</div>
            <div class="text-uppercase text-muted small">Cows</div>
          </div>
          <div>
            <div class="text-value">500</div>
            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="https://cdn.pixabay.com/photo/2016/04/01/09/08/turkey-1299176__340.png" style="width: 135px;">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">5</div>
            <div class="text-uppercase text-muted small">Turkey</div>
          </div>
          <div>
            <div class="text-value">30</div>
            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Goat_cartoon_04.svg/2000px-Goat_cartoon_04.svg.png" style="width: 125px;">
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">3</div>
            <div class="text-uppercase text-muted small">Goat</div>
          </div>
          <div>
            <div class="text-value">15</div>
            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Farm</th>
                <th class="text-center">Country</th>
                <th>Assets</th>
                <th class="text-center">FarmCoin / Mo.</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/1000844186210488320/619saqEu_400x400.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Hatçe Ananın Çiftliği</div>
                  <div class="small text-muted">
                    <span>Konya</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-tr h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>5 Chicken</strong> | 
                      <strong>2 Cows</strong>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <strong>100 Farmcoin / Mo.</strong>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets\img\kadareniz.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Karadeniz Uşağı</div>
                  <div class="small text-muted">
                    <span>Rize</span> | Registered: Feb 15, 2018
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-tr h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>6 Cows</strong>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <strong>175 Farmcoin / Mo.</strong>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Yesterday</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets\img\north.jpeg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Northern Tiger</div>
                  <div class="small text-muted">
                    <span>Stockholm</span> | Registered: Jul 15, 2010
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-se h4 mb-0" title="se" id="se"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>5 Turkey</strong>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <strong>250 Farmcoin / Mo.</strong>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Minutes ago</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
        <div class="card-header">
          Sales
          <div class="card-header-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Assets
          <div class="card-header-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>
  