<div class="card">
  <div class="card-header">
    Create Farm
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label for="btn-told" class="col-sm-2 col-form-label">Farm Name</label>
      <div class="col-sm-10">
          <input maxlength="50"  (keyup)="getFarmName(farmNameTB.value)" value="{{farmName}}" #farmNameTB id="farmName" class="form-control" placeholder="Farm name">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="textHash" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <input maxlength="50"  (keyup)="getLocationName(farmLocationTB.value)" value="{{farmLocation}}" #farmLocationTB id="farmLocation" class="form-control" placeholder="Farm name">
      </div>
    </div>

    <button (click)="createFarm()" class="btn btn-primary btn-told">Submit</button>
  </div>
</div>
