<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Bootstrap Carousel
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/carousel" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <carousel [interval]="3000">
            <slide>
              <img src="https://lorempixel.com/900/500/technics/2/" alt="First slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://lorempixel.com/900/500/technics/4/" alt="Second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://lorempixel.com/900/500/technics/6/" alt="Third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
