<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-primary">
              <div class="card-body pb-0">
                <div class="text-value">9.823</div>
                <div>Investors</div>
              </div>
              <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas baseChart class="chart"
                [datasets]="lineChart1Data"
                [labels]="lineChart1Labels"
                [options]="lineChart1Options"
                [colors]="lineChart1Colours"
                [legend]="lineChart1Legend"
                [chartType]="lineChart1Type"></canvas>
              </div>
            </div>
      </div>
      <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="h4 m-0">89.9%</div>
              <div>Investment</div>
              <div class="progress progress-xs my-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
            </div>
          </div>
        </div>
      <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-header bg-success">
              <div class="font-weight-bold">
                <span>SALE</span>
                <span class="float-right">$1.890,65</span>
              </div>
              <div>
                <span>
                  <small>Today 6:43 AM</small>
                </span>
                <span class="float-right">
                  <small>+432,50 (15,78%)</small>
                </span>
              </div>
              <div class="chart-wrapper" style="height:38px;">
                <canvas baseChart class="chart"
                [datasets]="lineChart4Data"
                [labels]="lineChart4Labels"
                [options]="lineChart4Options"
                [colors]="lineChart4Colours"
                [legend]="lineChart4Legend"
                [chartType]="lineChart4Type"></canvas>
              </div>
              <div class="chart-wrapper" style="height:38px;">
                <canvas baseChart class="chart"
                [datasets]="barChart2Data"
                [labels]="barChart2Labels"
                [options]="barChart2Options"
                [colors]="barChart2Colours"
                [legend]="barChart2Legend"
                [chartType]="barChart2Type"></canvas>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>