<div class="card">
  <div class="card-header">
    Create Product
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label for="btn-told" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
          <input maxlength="50"  (keyup)="getTitle(titleTB.value)" value="{{title}}" #titleTB id="farmName" class="form-control" placeholder="Title">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="textHash" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input maxlength="50"  (keyup)="getPrice(priceTB.value)" value="{{price}}" #priceTB id="price" class="form-control" placeholder="Price">
      </div>
    </div>

    <div class="form-group row">
      <label for="textHash" class="col-sm-2 col-form-label">Image Link</label>
      <div class="col-sm-10">
        <input (keyup)="getImageLink(imageTB.value)" value="{{imageLink}}" #imageTB id="imageLink" class="form-control" placeholder="Image Link">
      </div>
    </div>

    <div class="form-group row">
      <label for="textHash" class="col-sm-2 col-form-label">Farm Name</label>
      <div class="col-sm-10">
        <input (keyup)="getFarmName(farmNameTB.value)" value="{{farmName}}" #farmNameTB id="farmName" class="form-control" placeholder="Farm Name">
      </div>
    </div>

    <button (click)="createProduct()" class="btn btn-primary btn-told">Submit</button>
  </div>
</div>
