<div class="row">
    <div class="col-md-6">
      <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Farm Assets
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                      <div class="brand-card">
                        <div class="brand-card-header bg-facebook">
                          <img src="https://i.pinimg.com/originals/50/87/2a/50872a2e317f328df780a7f043ce0c7e.png" style="width: 125px;">
                        </div>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value">25</div>
                            <div class="text-uppercase text-muted small">Chickens</div>
                          </div>
                          <div>
                            <div class="text-value">750</div>
                            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a (click)="buyProduct()" class="font-weight-bold font-xs btn-block text-muted">Buy 1 share<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div><!--/.col-->
                    <div class="col-sm-6 col-lg-6">
                      <div class="brand-card">
                        <div class="brand-card-header bg-facebook">
                          <img src="http://www.lequzhai.com/data/out/4/468894.png" style="width: 195px;">
                        </div>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value">10</div>
                            <div class="text-uppercase text-muted small">Cows</div>
                          </div>
                          <div>
                            <div class="text-value">500</div>
                            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a (click)="buyProduct()" class="font-weight-bold font-xs btn-block text-muted">Buy 1 share<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div><!--/.col-->
                    <div class="col-sm-6 col-lg-6">
                      <div class="brand-card">
                        <div class="brand-card-header bg-facebook">
                          <img src="https://cdn.pixabay.com/photo/2016/04/01/09/08/turkey-1299176__340.png" style="width: 135px;">
                        </div>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value">5</div>
                            <div class="text-uppercase text-muted small">Turkey</div>
                          </div>
                          <div>
                            <div class="text-value">30</div>
                            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a (click)="buyProduct()" class="font-weight-bold font-xs btn-block text-muted">Buy 1 share<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div><!--/.col-->
                    <div class="col-sm-6 col-lg-6">
                      <div class="brand-card">
                        <div class="brand-card-header bg-facebook">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Goat_cartoon_04.svg/2000px-Goat_cartoon_04.svg.png" style="width: 125px;">
                        </div>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value">3</div>
                            <div class="text-uppercase text-muted small">Goat</div>
                          </div>
                          <div>
                            <div class="text-value">15</div>
                            <div class="text-uppercase text-muted small">FarmCoin / Mo.</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a (click)="buyProduct()" class="font-weight-bold font-xs btn-block text-muted">Buy 1 share<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div><!--/.col-->
                  </div><!--/.row-->
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
      </div><!--/.row-->
    </div>
    <div class="col-md-6">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong>Farm Details</strong>
              </div>
              <div class="card-body">
                <h4 class="alert-heading">Hatçe Ananın Çiftliği</h4>
                <p class="mb-0"></p>
      
                <carousel [interval]="3000">
                  <slide>
                    <img src="https://i.ytimg.com/vi/zc_1vpFGiBM/hqdefault.jpg" alt="First slide" style="display: block; height: 150px;">
                  </slide>
                  <slide>
                    <img src="https://emlakkulisi.com/resim/orjinal/MTI5MTg4MD.jpg" alt="Second slide" style="display: block; height: 150px;">
                  </slide>
                  <slide>
                    <img src="http://www.seydisehirajans.com/files/uploads/news/default/konyada-alpaka-ciftl-0fc037e56e3822bb659a.jpg" alt="Third slide" 
                    style="display: block; height: 150px;">
                  </slide>
                </carousel>  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="height: 280px;">
              <div class="card-header">
                <strong>Farm Location</strong>
              </div>
              <div class="card-body">
                <mapp></mapp>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Shares
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Share</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/990319669591539717/Fc1Axt0r_400x400.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Gültekin Çetiner</div>
                  <div class="small text-muted">
                    Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-tr h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>20%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/941476880691224576/9WsYg_Fe_400x400.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Çağatay Uslu</div>
                  <div class="small text-muted">
                    Registered: Jul 1, 2018
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-tr h4 mb-0" title="br" id="br"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>5 minutes ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/416148356482605056/IdKbkB91_400x400.jpeg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Doğa Öztüzün</div>
                  <div class="small text-muted">
                    Registered: Jul 1, 2018
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-in h4 mb-0" title="in" id="in"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>15%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>1 hour ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/378800000670354299/f1726623078bc294ae27c14884e424dc_400x400.jpeg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Salih Balseven</div>
                  <div class="small text-muted">
                    Registered: Jul 1, 2018
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-tr h4 mb-0" title="fr" id="fr"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>15%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last month</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="https://pbs.twimg.com/profile_images/991924733603123202/ewSHyh1T_400x400.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Faruk Terzioğlu</div>
                  <div class="small text-muted">
                    Registered: Jul 1, 2018
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="es"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>22%</strong>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last week</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->